<div class="burst-12"></div>
<div class="content">
    <a href="{{pokemon.largeImage}}" ng-if="pokemon.largeImage" target="_blank"><img src="{{pokemon.largeImage}}"/></a>
    <img ng-if="!pokemon.largeImage" src="http://pokeapi.co/media/img/{{pokemonId}}.png"/>
    <h2>{{pokemon.name}}</h2>
    <ul>
        <li>Types: <span ng-repeat="type in pokemon.types">{{type.name}} </span></li>
        <li>Attack: {{pokemon.attack}}</li>
        <li>Defense: {{pokemon.defense}}</li>
        <li>HP: {{pokemon.hp}}</li>
        <li ng-repeat="evolution in pokemon.evolutions">Evolves into <a href='#/pokemon/{{evolution.id}}'>{{evolution.name}}</a> <span ng-if="evolution.level">at level: {{evolution.level}}</span></li>
    </ul>
</div>

